/* шрифты  */
/* 'Comfortaa' 400 */
/* 'Montserrat' 400 500 700*/

/* главный цвет теста  color: rgba(0, 0, 0, 0.8);*/
/* вторичный цвет текста color: #000000;*/
/* акцент  #18A0FB;*/
/* белый color: #FFFFFF; */
/* вторичный цвет кода background: #F5F5F5; */

/* font-family: 'Comfortaa', */
/* cursive; */
/* font-family: 'Montserrat', */
/* sans-serif; */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F5F5;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.015em;
    color: var(--primary-text-color);

    background-color: var(--primary-bg-color);
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 1560px;
    
    /* outline: 2px solid tomato; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* nav  */

.main-nav {
    display: flex;
    align-items: center;
}

/* logo */

.logo {
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* page header  */

/* .page-header {
    background-color: #ccc;
} */

/* site-nav */

.site-nav {
    display: flex;
    margin-left: 70px;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--title-text-color);
}

/* auth-nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 12px;
}

/* hero */

.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 632px;
    padding-bottom: 156px;
    max-width: 1680px;
    height: 960px;

    text-align: center;

    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    color: var(--title-text-color);   
}

/* section  */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    color: var(--title-text-color);
}

.section-title.centered,
.section-description.centered {
    text-align: center;
}

.section-description {
    margin-top: 0;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 1.39;
}

/* features and examples*/

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -74px;
}

.feature-list .item {
    margin: 30px 74px;
    width: 686px;
}

.feature-list .title,
.work-list .title {
    margin-top: 0;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--title-text-color);
}

.feature-list p {
    margin-top: 0;
    margin-bottom: 32px;
}

/* works  */

.work-list > .item {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.work-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.work-list > .item:nth-child(2n) {
    flex-direction: row-reverse;

    background-color: var(--secondary-bg-color);
}

.work-list > .item:nth-child(2n + 1) .content {
    margin-left: 84px;
}

.work-list > .item:nth-child(2n) .content {
    margin-right: 84px;
}

/* examples  */

/* client  */

.client-list {
    display: flex;
    flex-wrap: wrap;
    margin: -32px -42px;
    margin-right: auto;
    margin-left: auto;
    width: 1030px;
}

.client-list .item {
    margin: 32px 42px;
}

/* Registration  */

.registr-section {
    background-color: var(--secondary-bg-color);
}

.registr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-description.no-margin {
    margin-bottom: 0;
}

.registr .list-btn {
    display: flex;
    padding-right: 64px;
}

.registr .item:not(:last-child) {
    margin-right: 45px;
}

/* button  */

.button {
    display: inline-block;
    padding: 11px 34px;
    min-width: 130px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--title-text-color);

    background-color: var(--primary-bg-color);
    border: 1px solid transparent;
    border-radius: 6px;
}

.button.primary {
    color: var(--primary-bg-color);

    background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
    color: var(--accent-color);
    
    background-color: var(--primary-bg-color);
    border-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);

    background-color: var(--primary-bg-color);
    border-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-bg-color);
    
    background-color: var(--accent-color);
}

/* footer  */

.info-container {
    display: flex;
    padding-bottom: 60px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.info-list {
    display: flex;
    margin-left: auto;
}

.info-list > .item:not(:last-child) {
    margin-right: 90px;
}

.info-list a {
    display: block;
}

.info-list .secondary-item:not(:last-child) {
    margin-bottom: 12px;
}

.info-list .link {
    font-size: 15px;
    line-height: 1.6;
    text-decoration: none;
    color: var(--primary-text-color);
}

.info-list .primary-link {
    margin-bottom: 16px;

    font-weight: 700;
    color: var(--title-text-color);
}

.info-list .link:hover,
.info-list .link:focus {
    color: var(--accent-color);
}

.info-list-btn {
    display: flex;
    flex-direction: column;
    margin-left: 157px;
}

.info-list-btn .item:not(:last-child) {
    margin-bottom: 16px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.contact-container .descr {
    margin: 0;
}

.follow-container {
    display: flex;
    align-items: center;
}

.follow-us {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
}

.contact-list {
    display: flex;
    align-items: center;
}

.contact-list > .item:not(:last-child) {
    margin-right: 21px;
}

.contact-list img {
    display: block;
}