/* шрифты  */
/* 'Comfortaa' 400 */
/* 'Montserrat' 400 500 700*/

/* главный цвет теста  color: rgba(0, 0, 0, 0.8);*/
/* вторичный цвет текста color: #000000;*/
/* акцент  #18A0FB;*/
/* белый color: #FFFFFF; */
/* вторичный цвет кода background: #F5F5F5; */

/* font-family: 'Comfortaa', */
/* cursive; */
/* font-family: 'Montserrat', */
/* sans-serif; */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F5F5;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.015em;
    color: var(--primary-text-color);

    background-color: var(--primary-bg-color);
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 1440px;
    
    outline: 2px solid tomato;
}

/* logo */

.logo {
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* page header  */

.page-header {
    background-color: #ccc;
}

/* site-nav */

.site-nav .link {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--title-text-color);
}

/* hero */

.hero {
    text-align: center;

    outline: 2px solid tomato;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    color: var(--title-text-color);   
}

/* section  */

.section {
    padding: 120px 0;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    color: var(--title-text-color);
}

.section-title.centered {
    text-align: center;
}

.section-description {
    margin-top: 0;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 1.39;
}

/* features and examples*/

.feature-list .title,
.work-list .title {
    margin-top: 0;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--title-text-color);
}

.feature-list p {
    margin-top: 0;
    margin-bottom: 32px;
}

/* works  */

.work-list > .item {
    padding-top: 80px;
    padding-bottom: 80px;
}

.work-list > .item:nth-child(2n) {
    background-color: var(--secondary-bg-color);
}

/* examples  */

/* button  */

.button {
    display: inline-block;
    padding: 11px 34px;
    min-width: 130px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--title-text-color);

    background-color: var(--primary-bg-color);
    border: 1px solid transparent;
    border-radius: 6px;
}

.button.primary {
    color: var(--primary-bg-color);

    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);

    background-color: var(--primary-bg-color);
    border-color: var(--accent-color);
}

/* footer  */

.info-list .link {
    font-size: 15px;
    line-height: 1.6;
    text-decoration: none;
    color: var(--primary-text-color);
}

.info-list .primary-link {
    font-weight: 700;
    color: var(--title-text-color);
}

.info-list .link:hover,
.info-list .link:focus {
    color: var(--accent-color);
}
